@model ExpDigital.Models.PersonaXCita

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonaXCita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_persona_x_cita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_persona_x_cita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CitaDeAtestado.contrasenna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitaDeAtestado.contrasenna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.cedula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
