@model ExpDigital.ViewModels.OtraObraAutor

@{
    ViewBag.Title = "CreateObraProfesional";
}

@using (Html.BeginForm("CreateObraProfesional", "OtraObraProfesional", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="content-container">

        <div class="container-fluid">

            @if (ViewBag.otraObraAgregado != null)
            {
                <div class="alert alert-success">
                    <strong>Otra Obra Profesional Agregada!</strong> Otra Obra Profesional se agregó satisfactoriamente
                </div>
            }
            @if (ViewBag.errorOtraObra != null)
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong> No se pudo agregar Otra Obra Profesional.
                </div>
            }

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron" style="background-color: #eeeeee">
                <h1>Otra Obra Profesional</h1>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form onsubmit="submitObraAdmin">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputEmail4">Título de la Obra Profesional</label>
                            <div>
                                @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group col-md-3">
                                <label for="inputState">Número de autores</label>
                                <select id="inputState" class="form-control">
                                    <option selected>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>*@
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Número de autores</label>
                            <div>
                                @Html.DropDownListFor(m => m.numeroAutores, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control", @required = "required", @id = "selectOtraObra", @onclick = "selectOtraObra" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Tipo</label>
                            <div>
                                @Html.DropDownListFor(m => m.id_tipo, (IEnumerable<SelectListItem>)ViewBag.TipoObraProfesionals, new { @class = "form-control col-md-8" })
                                @*@Html.DropDownList("id_pais", null, htmlAttributes: new { @class = "form-control" })*@
                                @Html.ValidationMessageFor(model => model.id_tipo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <table class="table table-bordered table-hover" id="tab_logic_otra_obra" style="display:none">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    #
                                                </th>
                                                <th class="text-center">
                                                    Nombre del autor
                                                </th>
                                                <th class="text-center">
                                                    Correo electrónico
                                                </th>
                                                <th class="text-center">
                                                    Distribución porcentual de autoría
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < 100; i++)
                                            {
                                                <tr id=@i>
                                                    <td>
                                                        @i
                                                    </td>
                                                    <td>
                                                        @*<input type="text" name='nombreArticulo2' placeholder='Nombre del Autor' class="form-control" />*@
                                                        @Html.EditorFor(model => model.autores[i].nombre, new { htmlAttributes = new { @class = "form-control" } })
                                                    </td>
                                                    <td>
                                                        @*<input type="text" name='mailArticulo2' placeholder='Correo electrónico' class="form-control" />*@
                                                        @Html.EditorFor(model => model.autores[i].correoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                                                    </td>
                                                    <td>
                                                        @*<input type="text" name='distArticulo0' placeholder='Distribución porcentual' class="form-control" />*@
                                                        @Html.EditorFor(model => model.autorXOtraObraProfesionals[i].distribucionAutoria, new { htmlAttributes = new { @class = "form-control" } })
                                                    </td>
                                                </tr>

                                            }





                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <p class="text-info">Cargar Obra Profesional:</p>
                            <input type="file" name="upload" required />
                        </div>
                        <div class="form-group col-md-5">
                            <p class="text-info">Certificación del Superior Jerárquico:</p>
                            <input type="file" name="upload1" required />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" runat="server">Aceptar</button>
                </form>
            </div>

        </div>
    </div>}

